<%include partial/header.ejs %>
<h1>Region Details</h1>

<form methods  ="post">
    <div>
        <label for ="name">Region:</label>

    </div>
    <div>
        <label for ="Province">Province:</label>
        <select name="Province" id="Province Area">
            <option>North Bay</option>
            <option>Toronto</option>
            <option>London</option>
            <option>Hamilton</option>
            <option>Owen Sound</option>
            <option>Sarnia</option>
        </select>
    </div>
</form>
<%include partial/footer.ejs%>