<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>


    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-inverse">

    <ul class="nav navbar-nav">

        <li><a href="/">Home</a></li>

        <% if (!user) { %>

        <li><a href="/register">Register:</a></li>

        <li><a href="/login">LogIn:</a></li>
<% }
else {
    %>

        <li><a href="/regions">Regions</a></li>
        <li><a href="/logout">Logout:</a></li>
    </ul>
    </div>
        <div class="navbar-text pull-right">
            Welcome <%= user.username %>
        </div>
        <% } %>



</nav>
